# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Lambda deployment packages
*.zip

# System specific
.DS_Store
.env
.env.*
!.env.example

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Binary files
bin/
dist/
lambda-code/bootstrap
